{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon"
          href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <meta charset="UTF-8">
    <title>Petstagram</title>
</head>
<body>
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% block main_content %}
    {% endblock %}
</main>
</body>
<div class="footer">
		<span class="footer-section">
			© 2022 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE
		</span>
</div>
</html>